@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');

body{
    font-family: 'Manjari', sans-serif;
    font-size: 20px ;
    color: #102542;

    height: 100vh;
    margin: 0px;
}
button, .button{
    background-color: #4D7C8A;
    color: white;
    font-weight: bold;
    font-size: 1em;

    padding: 1em 2em;
    border: none;
    border-radius: 10px;
    
    align-self: center;
}

button:hover, .button:hover{
    cursor: pointer;
    background: #5E8995;

}

button.light, .button.light{
    background-color: #CDD7D6;
    color: #102542;

}

button.light:hover, .button.light:hover{
    filter: opacity(80%);
}

button[selected], .button[selected]{
    background: #5E8995;
    color: white;
}

.row{
    display: flex;
    height: 100%;
}
nav ul{
    margin: 0px;
    padding: 0px;
}
nav li{
    list-style-type: none;
    display: flex;
    margin-bottom: 0.8em;

}

nav a{
    font-weight: bold;
    text-decoration: none;
    color: white;

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    padding: 0.8em 1.5em;
}

nav a:hover{
    background: #5E8995;
}

nav li[selected] a{
    background: #5E8995;

}

nav a p{
    margin: 0 0 0 0.5em;
    padding-top: 0.6em;
}

#keluar{
    margin: 2em 0;
}


aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #4D7C8A;
    width: 20rem;

    padding-top: 5rem;
}

main{
    width: calc(100% - 20rem);
    display: flex;
    flex-direction: column;
    align-items: center;  

    padding-top: 5rem;
    
}

main h1{
    text-align: center;
}
main h2{
    margin: 0.5em 0;
}
main ol{
    width: 60rem;
    margin-bottom: 4em;
}
main li{
    margin-bottom: 1em;
}

.card-container{
    display: flex;
}

.card{
    color: #102542;
    background: #CDD7D6;
    padding: 0.75em 1.5em 0em;
    margin: 1em 1.5em;

    border-radius: 5px;
}

.card:hover{
    color: white;
}

.card p{
    text-align: center;
    font-weight: bold;
    margin: 0.5em 0em;
}

.horizontal-container{
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;

    margin: 1rem 0;
}
::-webkit-scrollbar {
    display: none;
  }
.horizontal-item{
    margin: 0 1rem;
}

button[name="day"]{
    padding: 0.75em 1em;
}

button[name="ruangan"]{
    margin: 0.5em;
}

.table-container{
    margin: 1.5em;

    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, auto);
}

.selector-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80rem;
}